<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>User Login page</title>
</head>
<body>
    <center>
        <div class="Account" action="{{url_for('alreadyacc')}}">
            <h2>Login to Account</h2>
            <div class="Accopenform">
            <form method="post">
            <label class="acc">Enter Account number:</label>
            <input type="number" name="Account_number" id="acc" placeholder="Account number" maxlength="10" minlength="1">
            <br/>
            <label class="pin">Enter Account Pin:</label>
            <input type="number" name="Pin" id="pin" placeholder="Pin number" maxlength="4">
            <br/>
            <button class="submit">Submit</button>
            </form>
        </div>
        </div>
    </center>
    
</body>
</html>