<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withdraw</title>
</head>
<body>
    <center>
        <form action="" method="post">
            <div>
                <label for="">Enter amount:</label><br/>
                <input type="number" name="amount" id="" placeholder="Enter amount" required>
                <button>Submit</button>
    
            </div>
        </form>
    </center>
    
</body>
</html>